In [2]:
import pandas as pd
import re

In [7]:
df = pd.read_csv("movie_titles_new.csv")
df[df["title"] =='The 1,000 Eyes of Dr. Mabuse']

         year                         title
13201  1960.0  The 1,000 Eyes of Dr. Mabuse

In [9]:
with open("netflix/combined_data_1.txt", "r") as file:
    lines = file.readlines()
data = []  # Danh sách để lưu dữ liệu từ tệp


# Biểu thức chính quy để tìm kiếm dòng bắt đầu với số:
pattern = re.compile(r'^(\d+):')

# Biến để theo dõi movie_id hiện tại
current_movie_id = None

for line in lines:
    line = line.strip()
    match = pattern.match(line)
    if match:
        current_movie_id = int(match.group(1))  # Lấy movie_id từ dòng
    else:
        parts = line.split(',')
        user_id = int(parts[0])
        rating = int(parts[1])
        date = parts[2]
        data.append([current_movie_id, user_id, rating, date])

# Tạo DataFrame từ danh sách dữ liệu
df = pd.DataFrame(data, columns=['movie_id', 'user_id', 'rating', 'date'])

# In ra DataFrame

          movie_id  user_id  rating        date
0                1  1488844       3  2005-09-06
1                1   822109       5  2005-05-13
2                1   885013       4  2005-10-19
3                1    30878       4  2005-12-26
4                1   823519       3  2004-05-03
...            ...      ...     ...         ...
24053759      4499  2591364       2  2005-02-16
24053760      4499  1791000       2  2005-02-10
24053761      4499   512536       5  2005-07-27
24053762      4499   988963       3  2005-12-20
24053763      4499  1704416       3  2004-06-02

[24053764 rows x 4 columns]

In [12]:
df.to_pickle("combined_data_1.pkl")

In [4]:
for i in range(2,5):
    with open(f"netflix/combined_data_{i}.txt", "r") as file:
        lines = file.readlines()
    data = []  # Danh sách để lưu dữ liệu từ tệp
    
    # Biểu thức chính quy để tìm kiếm dòng bắt đầu với số:
    pattern = re.compile(r'^(\d+):')
    # Biến để theo dõi movie_id hiện tại
    current_movie_id = None

    for line in lines:
        line = line.strip()
        match = pattern.match(line)
        if match:
            current_movie_id = int(match.group(1))  # Lấy movie_id từ dòng
        else:
            parts = line.split(',')
            user_id = int(parts[0])
            rating = int(parts[1])
            date = parts[2]
            data.append([current_movie_id, user_id, rating, date])
    # Tạo DataFrame từ danh sách dữ liệu
    df = pd.DataFrame(data, columns=['movie_id', 'user_id', 'rating', 'date'])
    df.to_pickle(f"combined_data_{i}.pkl")

In [8]:
len(df["user_id"].unique())

470758